Host bastion.mlg-a
  Hostname XX.55.XXXX.YYY
  User ec2-user
  IdentityFile ~/.ssh/id_rsa
  ForwardAgent yes
  ControlMaster auto
  ControlPath ~/.ssh/ansible-%r@%h:%p
  ControlPersist 8h

Host 10.158.*
  ProxyCommand ssh -q -A _felipe@X4.2XX.XX.113 -i /root/.ssh/_felipe_rsa nc %h %p
  IdentityFile /root/.ssh/sa_east_1_rsa
  ServerAliveInterval 6000
  TCPKeepAlive yes
  ControlMaster auto
  ControlPath ~/.ssh/ansible-%r@%h:%p
  User ubuntu
  ForwardAgent yes
  ControlPersist 8h
